@use 'base/variables' as v;
@use 'base/mixins' as m;

.acciones {
    margin-top: v.$separacion;
    @include m.tablet{
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: 0 auto;
    }
   



    a {
        color: v.$negro;
        display: block;
        margin-bottom: calc(v.$separacion / 2);
        text-align: center;
    }
}