@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
    margin-top: 5rem;
    margin: 0 auto;

    @include m.desktop {
        width: 50%;
    
    }
}

.campo {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    label{
        flex: 0 0 10rem;
    }
    input{
        flex: 1;
        border: 1px solid v.$gris;
        padding: calc(v.$separacion / 4);
        border-radius: 1rem;
    }
}

